body{
    background: rgb(238,238,238);
}
header {
    position: relative;
    font-size: 0;
}

header .title-img {
    width: 100%;
}

header .title {
    position: absolute;
    left: 0;
    top: 0.62rem;
    width: 100%;
    text-align: center;
    font-size: 0.32rem;
    z-index: 1;
    display: inline-block;
    color: rgb(160, 119, 41);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(216, 185, 89)), to(rgb(160, 119, 41)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-recommend{
    font-size: 0.13rem;
    line-height: 0.22rem;
    background: rgb(255,255,255);
    /*background: rgba(153,153,153,0.1);*/
    width: 90%;
    position: relative;
    top: -0.5rem;
    margin: 0.11rem auto;
}
header .subtitle {
    position: absolute;
    width: 100%;
    font-size: 0.18rem;
    text-align: center;
    top: 1.065rem;
    color: rgb(160, 119, 41);
}

section {
    background: #fff;
    padding-top: 0.22rem;

}

.fund-title {
    font-size: 0.17rem;
    text-align: center;
    color: rgb(51, 51, 51);
}

.mark-list {
    text-align: center;
    margin-top: 0.116rem;
}

.mark-list p {
    display: inline-block;
    font-size: 0.11rem;
    color: rgb(178, 138, 55);
    background: rgb(255, 246, 229);
    border-radius: 2px;
    /*padding: 2px 4px;*/
    margin-right: 0.1rem;
}

@media screen and (max-width: 700px) {
    .grades .bg {
        display: inline-block;
        width: 11px;
        margin-left: -2px;
        height: 10px;
        background: url('../img/adfill1.png') no-repeat 0 -1px;
    }

    .grades .bg-active {
        display: inline-block;
        width: 11px;
        margin-left: -2px;
        height: 10px;
        background: url('../img/ad1.png') no-repeat 0 0;
    }
}

@media screen and (min-width: 700px)and (max-width: 1000px) {

    .grades .bg {
        display: inline-block;
        width: 22px;
        margin-left: -2px;
        height: 20px;
        background: url('../img/adfill2.png') no-repeat 0 0;
    }

    .grades .bg-active {
        display: inline-block;
        width: 22px;
        margin-left: -2px;
        height: 20px;
        background: url('../img/ad2.png') no-repeat 0 1px;
    }
}

@media screen and (min-width: 1000px) {

    .grades .bg {
        display: inline-block;
        width: 33px;
        margin-left: -2px;
        height: 30px;
        background: url('../img/adfill3.png') no-repeat 0 0;
    }

    .grades .bg-active {
        display: inline-block;
        width: 33px;
        margin-left: -2px;
        height: 30px;
        background: url('../img/ad3.png') no-repeat 0 1px;
    }
}

section .rates {
    font-size: 0.4rem;
    color: rgb(255, 151, 25);
    text-align: center;
    margin-top: 0.1rem;
}

.tishi {
    text-align: center;
    color: rgb(146, 143, 136);
    font-size: 0.12rem;
}

button {
    width: 1.70rem;
    height: 0.36rem;
    color: #fff;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.36rem;
    display: block;
    margin: 0.134rem auto 0.224rem;
    /*background: rgb(19, 35, 52);*/
    border: none;
    border-radius: 0.18rem;

}
ul li {
    list-style-type: none;
    background: #ffffff;
    border-top: 1px solid rgb(238,238,238);
    padding: 0.09rem 0.15rem;
    margin-bottom:1px;
}
ul li:after{
    content: '';
    display: block;
    clear: both;
}
.list-left {
    float: left;
    width: 33%;
}
.list-right {
    float: right;
    width: 60%;
}
.list-right h3{
    font-size: 0.15rem;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-left .profit {
    color: rgb(255,151,25);
    font-size: .22rem;
}
.list-left .remark {
    font-size: 0.13rem;
    color: rgb(126,118,120);
}
.right-bottom>div {
    float: left;
    color: #b38b39;
    font-size: 0.12rem;
    height: 0.19rem;
    line-height: 0.20rem;
    vertical-align: middle;
    margin-top: .05rem;
    background: #fff0de;
    padding: 2px 5px;
    margin-right: 2px;
    border-radius: 2px;
}
.grade,.feilv{
    margin-left:0.02rem;
}

.grade label {
    margin-right: 2px;
}
@media screen and (max-width:370px){
    .type,.grade{
        height: 0.22rem;
        line-height: 0.26rem;
    }
}

@media screen and (max-width:700px) {
    .grade .bg{
        display: inline-block;
        width: 11px;
        margin-left: 1px;
        height: 10px;
        background: url('../img/adfill1.png') no-repeat 0 0;
    }

    .grade .bg-active{
        display: inline-block;
        width: 11px;
        margin-left: 1px;
        height: 10px;
        background: url('../img/ad1.png') no-repeat 0 1px;
    }
}
@media screen and (min-width:700px)and (max-width: 1000px){

    .grade .bg{
        display: inline-block;
        width: 22px;
        margin-left: 1px;
        height: 20px;
        background: url('../img/adfill2.png') no-repeat 0 0;
    }

    .grade .bg-active{
        display: inline-block;
        width: 22px;
        margin-left: 1px;
        height: 20px;
        background: url('../img/ad2.png') no-repeat 0 1px;
    }
}
@media screen and (min-width:1000px) {

    .grade .bg{
        display: inline-block;
        width: 33px;
        margin-left: 1px;
        height: 30px;
        background: url('../img/adfill3.png') no-repeat 0 0;
    }

    .grade .bg-active{
        display: inline-block;
        width: 33px;
        margin-left: 1px;
        height: 30px;
        background: url('../img/ad3.png') no-repeat 0 1px;
    }
}
ul .li-more {

    color: rgb(183,141,55);
    text-align: center;
}
ul .li-more a {
    font-size: 0.14rem;
    display:block;
    color: rgb(183,141,55);
}

@media screen and (max-width:700px) {
    ul .li-more i {
        display: inline-block;
        width: 6px;
        vertical-align: middle;
        margin-left: 4px;
        height: 11px;
        background: url('../img/more1.png') no-repeat;
    }
}
@media screen and (min-width:700px)and (max-width: 1000px){

    ul .li-more i {
        display: inline-block;
        width: 12px;
        vertical-align: middle;
        margin-left: 4px;
        height: 22px;
        background: url('../img/more2.png') no-repeat;
    }
}
@media screen and (min-width:1000px) {

    ul .li-more i {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
        margin-left: 4px;
        height: 33px;
        background: url('../img/more3.png') no-repeat;
    }
}
.lines {
    float: left;
    text-align: left;
    width: 7%;
}

@media screen and (max-width:700px) {
    .line {
        display: inline-block;
        width: 1px;
        height: 49px;
        background: url('../img/line1.png') no-repeat;
    }
}
@media screen and (min-width:700px)and (max-width: 1000px){
    .line {
        display: inline-block;
        width: 2px;
        height: 98px;
        background: url('../img/line2.png') no-repeat;
    }
}
@media screen and (min-width:1000px) {
    .line {
        display: inline-block;
        width: 3px;
        height: 147px;
        background: url('../img/line3.png') no-repeat;
    }
}
.imgList{
    font-size: 0;
    margin-bottom:0.1rem;
}
.imgList img{
    width: 100%;
}
.imgContainer {
    padding-top: 0.1rem;
    background:rgb(238,238,238);
}