*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(253,253,253);
}
ul li{
    list-style: none;
}
.serialNum p {
    display: inline-block;
}
.Progress{
    height: 4px;
    position: relative;
    background: #f5e6c8;
}
.Progress .step {
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    top:0;
    background: #b38b39;
}
.serialNum {
    padding: 0.3rem .15rem .2rem .15rem;
}
.serialNum .nowOrder {
    font-size: 0.44rem;
    height: 0.24rem;
    color: rgb(179,139,57);
    line-height: 0.24rem;
    font-family: PingFangSC-Medium;
}
.totalQuestion, .division {
    color: rgb(225,208,171);
    font-size: 0.15rem;
}
.questions {
    padding: 0 15px;
    color: rgb(179,139,57) ;
    font-size: .15rem;
    margin-bottom:0.36rem;
}
.questionList ul {
    padding-bottom: 0.6rem;
}
.questionList ul li {
    padding: 0.15rem .35rem 0.1rem 0.15rem;
    position: relative;
    text-align: left;
    min-height: 30px;
    color: rgb(102,102,102);
    line-height: 30px;
    border-bottom: 1px solid rgb(238,238,238);
}
.questionList ul li:after{
    content: '';
    display: block;
    clear: both;
}
.questionList ul li span {
    display: inline-block;
    line-height: 0.23rem;
    float: left;
    font-size: 0.15rem;
}
.questionList ul li .letter{
    width: 4%;
}
.questionList ul li:first-child{
    border-top:1px solid rgb(238,238,238);
}

@media screen and (max-width:700px) {
    .questionList ul li .check{
        position: absolute;
        right: 0.15rem;
        top: 16px;
        display: block;
        width: 20px;
        height: 21px;
        background: url('../img/noxuan2.png') no-repeat;
        background-size:100% 100%;
    }
    .questionList ul li .active{
        background: url('../img/xuan2.png') no-repeat;
        background-size:100% 100%;
    }
}
@media screen and (min-width:700px) {
    .questionList ul li .check{
        position: absolute;
        right: 0.15rem;
        top: 30px;
        display: block;
        width: 40px;
        height: 42px;
        background: url('../img/noxuan2.png') no-repeat;
    }
    .questionList ul li .active{
        background: url('../img/xuan2.png') no-repeat;
    }
}

.questionList ul li .List {
    margin-left: 5px;
    width: 90%;
}
.preQuestion {
    text-align: center;
    background:rgb(253,253,253);
    height: 0.6rem;
    width: 100%;
    line-height: 0.25rem;
}
.preQuestion span{
    display: inline-block;
    margin-bottom: 0.25rem;
    font-size: 0.14rem;
    color: rgb(179,139,57) ;
}
.submit {
    /*padding:0 15px 30px 15px;*/
    padding-bottom: .3rem;
    /*position: fixed;*/
    background: rgb(253,253,253);
    width: 92%;
    margin-left:4%;
    /*bottom: 0;*/
}
.submit p {
    font-size: .12rem;
    margin-left: .2rem;
    color:rgb(102,102,102)
}
.submit .sure{
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    border-radius: 2px;
    background: rgb(180, 140, 48);
}
.submit .sure a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 0.15rem;
    text-align: center;
}
@media screen and (max-width:700px) {
    .submit .surebtn {
        float: left;
        margin-top: 2px;
        width: 14px;
        height: 15px;
        background: url('../img/isMy2.png') no-repeat;
        background-size:100% 100%;
    }
    .submit .activeit{
        background: url('../img/isMy2 (2).png') no-repeat;
        background-size:100% 100%;
    }
}
@media screen and (min-width:700px) {
    .submit .surebtn {
        float: left;
        margin-top: 13px;
        width: 28px;
        height: 28px;
        background: url('../img/isMy2.png') no-repeat;
    }
    .submit .activeit{
        background: url('../img/isMy2 (2).png') no-repeat;
    }
}

.submit .yes{
    padding-bottom: 0.1rem;
    background: rgb(253,253,253);
}